<div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #title> Ejemplo de señales 4 </ng-template>
        <ng-template #subtitle> Señales computadas </ng-template>
        <p>
            Valor del conteo: {{ contador() }}
        </p>
        <p>
            Contador  x 2: {{ contadorComputador() }}
        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <p-button label="incrementar"  (click)="increaseCount()" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>